.match-btn {
  width: 4.5em;
  height: 4.25em;
  background: var(--primary);

  &:hover:not(:focus), &:focus {
    background: var(--primary-dark);
  }
}

.register-btn {
  padding: .25em .75em;
  border-color: var(--accent-light);

  &:hover:not(:focus), &:focus {
    border-color: var(--accent);
  }

  @media (min-width: 1024px) {
    .mat-icon {
      transform: rotate(-90deg);
    }
  }
}