:host {
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .recording-list {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding-top: 0 !important;

    .list-count {
      display: inline-block;
    }

    .selected-btn {
      width: auto;
      margin: 0 .5em;
    }

    .options-wrapper {
      overflow: auto;

      .list-option {
        height: auto !important;
        border-radius: .5rem;
      
        &.selected-option {
          background: var(--primary-light);
        }
  
        &:hover:not(.selected-option):not(:focus), &:focus {
          background: var(--primary-lighter);
        }
      }
    }
    

    .error-title, .empty-title {
      display: flex;
      align-items: center;
      margin-bottom: .5em;
      
      .mat-icon {
        margin-right: .4em;
      }
    }

    .error-title {
      color: var(--error-dark);
    }

    .empty-wrapper {
      margin-top: .75rem;
    }
  }
}



