<app-header class="app-header"></app-header>

<app-inputs class="app-list" 
  [dataFile]="'sound_recordings_input_report.csv'"
  #inputs>
</app-inputs>

<app-cross-actions class="app-actions" 
  [isSelInput]="selInput$ | async"
  [isSelDatabase]="selDatabase$ | async"
  (registration)="database.onRegister(inputs.selected)"
  (matching)="inputs.onMatch(inputs.selected)">
</app-cross-actions>

<app-database class="app-list" 
  [dataFile]="'sound_recordings.csv'"
  (registered)="inputs.deselectAll()"
  #database>
</app-database>