:host {
  display: block;
  padding-top: 64px;

  .app-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
  }

  .app-list {
    margin-bottom: 2.75rem;
  }

  .app-actions {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 2rem;
  }

  @media (min-width: 1024px) {
    display: flex;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: calc(64px + 1rem) 1rem 1rem;

    .app-list {
      display: flex;
      flex-direction: column;
      flex: 1;
      overflow: hidden;
      margin-bottom: 0;
    }

    .app-actions {
      flex-direction: column;
      padding: 0 .75rem;
    }
  }
}