<app-header class="app-header"></app-header>

<app-inputs class="app-list" 
  [dataFile]="'sound_recordings_input_report.csv'"
  (selection)="cross.isAutoSearch && database.search($event)"
  #inputs>
</app-inputs>

<app-cross-actions class="app-actions" 
  [isSelInput]="inputs.selected !== undefined"
  [isSelDatabase]="database.selected !== undefined"
  [isAutoSearch]="DEFAULT_AUTO_SEARCH"
  (registration)="database.onRegister(inputs.selected)"
  (matching)="inputs.onMatch(inputs.selected)"
  #cross>
</app-cross-actions>

<app-database class="app-list" 
  [dataFile]="'sound_recordings.csv'"
  [reference]="inputs.selected"
  (registered)="inputs.deselectAll()"
  #database>
</app-database>