<mat-toolbar class="header-wrapper">
  <h1 class="app-branding">
    <mat-icon class="app-logo" aria-hidden="false" aria-label="Fingerprint">fingerprint</mat-icon>
    <span class="app-name">			
      {{ appName }}
    </span>
  </h1>
  <span class="app-tagline">Match recordings interactively</span>
  <span class="link-wrapper">
    <a class="source-link" href="https://github.com/hqcasanova/interactive-matcher" target="_blank"
      mat-raised-button>
      View source
    </a>
  </span>
</mat-toolbar>
