<field-accordion
  [fieldValue]="searchQuery | serialise:fuzzyService.searchKeys"
  [expandText]="'Search'"
  (afterExpansion)="searchField.focus()"
  (chipRemoval)="search($event)">
  <h2 class="mat-display-1" header-title>Registered</h2>
  <search-field
    [query]="searchQuery | serialise:fuzzyService.searchKeys"
    [placeholder]="fuzzyService.searchKeys | enumerate:' and/or ':['isrc']"
    (lookup)="search($event)"
    #searchField>
  </search-field>
</field-accordion>

<recording-list
  [recordings]="recordings$ | async"
  [reference]="selInput$ | async"
  [isLoading]="isLoading"
  [loadMessage]="loadMessage"
  [error]="error">
  <mat-card>
    <mat-card-title>
      <mat-icon aria-hidden="false" aria-label="Info icon">info</mat-icon>
      No recordings found
    </mat-card-title>
    <mat-card-subtitle>Maybe add a new recording?</mat-card-subtitle>
  </mat-card>
</recording-list>
