<h2 class="mat-display-1">Registered</h2>

<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-description class="search-expand-wrapper">
        <button class="top-btn seeall-btn" mat-flat-button aria-label="See all recordings"
          [style.visibility]="(recordings || []).length > (currRecordings || []).length ? 'visible' : 'hidden'"
          disableRipple
          (click)="seeAll(); $event.stopPropagation()">
          See all
        </button>
        <button class="top-btn" mat-icon-button aria-label="expand button for search field"
          color="accent"
          disableRipple>
          <mat-icon aria-hidden="false" aria-label="Dot"
            [style.visibility]="searchField.query ? 'visible' : 'hidden'"
            color="primary">
              fiber_manual_record
          </mat-icon>
          Search
        </button>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <search-field 
      [placeholder]="searchPlaceholder"
      (lookup)="search($event)"
      #searchField>
    </search-field>
  </mat-expansion-panel>
</mat-accordion>

<recording-list
  [recordings]="currRecordings" 
  [isLoading]="isLoading"
  [loadMessage]="loadMessage"
  [error]="error"
  (selection)="onSelection($event)">
  <mat-card>
    <mat-card-title>
      <mat-icon aria-hidden="false" aria-label="Info icon">info</mat-icon>
      No recordings found
    </mat-card-title>
    <mat-card-subtitle>Maybe add a new recording?</mat-card-subtitle>
  </mat-card>
</recording-list>
