<h2 class="mat-display-1">Registered</h2>

<mat-accordion>
  <mat-expansion-panel (afterExpand)="searchField.focus()">
    <mat-expansion-panel-header>
      <mat-panel-description class="search-expand-wrapper">
        <mat-chip-list class="top-btn search-chips" aria-label="Search status"
          [selectable]="false">
          <mat-chip class="search-chip"
            disableRipple
            *ngIf="searchQuery.length"
            [removable]="true"
            (removed)="reset()">
            <div class="chip-text">{{ searchQuery }}</div>
            <mat-icon matChipRemove>cancel</mat-icon>
          </mat-chip>
        </mat-chip-list>
        
        <button class="top-btn expand-btn" mat-icon-button aria-label="expand button for search field"
          color="accent"
          disableRipple>
          Search
        </button>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <search-field
      [query]="searchQuery"
      [placeholder]="searchPlaceholder"
      (lookup)="search($event)"
      #searchField>
    </search-field>
  </mat-expansion-panel>
</mat-accordion>

<recording-list
  [recordings]="currRecordings"
  [reference]="reference"
  [isLoading]="isLoading"
  [loadMessage]="loadMessage"
  [error]="error"
  (selection)="onSelection($event)">
  <mat-card>
    <mat-card-title>
      <mat-icon aria-hidden="false" aria-label="Info icon">info</mat-icon>
      No recordings found
    </mat-card-title>
    <mat-card-subtitle>Maybe add a new recording?</mat-card-subtitle>
  </mat-card>
</recording-list>
