<mat-accordion>
  <mat-expansion-panel 
    (afterExpand)="onAfterExpand()"
    [disabled]="true"
    #panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <ng-content select="[header-title]"></ng-content>
      </mat-panel-title>
      
      <mat-panel-description>
        <mat-chip-list class="field-chips" aria-label="Field status"
          [selectable]="false">
          <mat-chip class="field-chip"
            *ngFor="let chipText of splitIdOff(fieldValue)"
            disableRipple
            [value]="chipText"
            [removable]="true"
            (removed)="onRemoved($event)"
            (click)="panel.open(); $event.stopPropagation()"
            (mouseover)="onDeleteChipHover($event, true)"
            (mouseout)="onDeleteChipHover($event, false)">
            <div class="chip-text">{{ chipText }}</div>
            <mat-icon matChipRemove>cancel</mat-icon>
          </mat-chip>
        </mat-chip-list>
      </mat-panel-description>
      
      <button class="expand-btn" mat-icon-button aria-label="reveal field"
        color="accent"
        disableRipple
        (click)="onPanelToggle(); $event.stopPropagation()">
        {{ expandText }}
        <mat-icon class="expand-icon">expand_more</mat-icon>
      </button>
    </mat-expansion-panel-header>

    <ng-content></ng-content>

  </mat-expansion-panel>
</mat-accordion>
