<mat-accordion>
  <mat-expansion-panel 
    (afterExpand)="onAfterExpand()"
    [disabled]="true"
    #panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <ng-content select="[header-title]"></ng-content>
      </mat-panel-title>
      <mat-panel-description>
        <mat-chip-list class="field-chips" aria-label="Field status"
          [selectable]="false">
          <mat-chip class="field-chip"
            disableRipple
            *ngIf="fieldValue.length"
            [removable]="true"
            (removed)="onRemoved()"
            (click)="panel.open()"
            (mouseover)="onDeleteChipClass($event, true)"
            (mouseout)="onDeleteChipClass($event, false)">
            <div class="chip-text">{{ fieldValue }}</div>
            <mat-icon matChipRemove>cancel</mat-icon>
          </mat-chip>
        </mat-chip-list>
      </mat-panel-description>
      <button class="expand-btn" mat-icon-button aria-label="reveal field"
        color="accent"
        disableRipple
        (click)="onPanelToggle()">
        {{ expandText }}
        <mat-icon class="expand-icon">expand_more</mat-icon>
      </button>
    </mat-expansion-panel-header>

    <ng-content></ng-content>

  </mat-expansion-panel>
</mat-accordion>
