// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '~@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$bmat-pink: (
  50 : #f8e8eb,
  100 : #edc5ce,
  200 : #e19eae,
  300 : #d4778d,
  400 : #cb5a74,
  500 : #c23d5c,
  600 : #bc3754,
  700 : #b42f4a,
  800 : #ac2741,
  900 : #9f1a30,
  A100 : #ffd5db,
  A200 : #ffa2b0,
  A400 : #ff6f84,
  A700 : #ff566e,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$bmat-blue: (
  50 : #e0ecf5,
  100 : #b3d0e5,
  200 : #80b1d4,
  300 : #4d92c3,
  400 : #267ab6,
  500 : #0063a9,
  600 : #005ba2,
  700 : #005198,
  800 : #00478f,
  900 : #00357e,
  A100 : #acc8ff,
  A200 : #79a6ff,
  A400 : #4685ff,
  A700 : #2c74ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #ffffff,
  )
);

$bmat-yellow: (
  50 : #fcf5e6,
  100 : #f8e7c1,
  200 : #f3d797,
  300 : #eec66d,
  400 : #ebba4e,
  500 : #e7ae2f,
  600 : #e4a72a,
  700 : #e09d23,
  800 : #dd941d,
  900 : #d78412,
  A100 : #ffffff,
  A200 : #ffebd2,
  A400 : #ffd39f,
  A700 : #ffc885,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$spotify-green: (
  50 : #e2efe7,
  100 : #b8d7c3,
  200 : #88bd9b,
  300 : #58a273,
  400 : #358e55,
  500 : #117a37,
  600 : #0f7231,
  700 : #0c672a,
  800 : #0a5d23,
  900 : #054a16,
  A100 : #7fff95,
  A200 : #4cff6b,
  A400 : #19ff41,
  A700 : #00fe2c,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$spotify-blue: (
  50 : #e5e8f5,
  100 : #bfc6e6,
  200 : #94a0d5,
  300 : #697ac4,
  400 : #495eb8,
  500 : #2941ab,
  600 : #243ba4,
  700 : #1f329a,
  800 : #192a91,
  900 : #0f1c80,
  A100 : #b3baff,
  A200 : #808bff,
  A400 : #4d5dff,
  A700 : #3346ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

$interactive-matcher-primary: mat.define-palette($bmat-pink);
$interactive-matcher-accent: mat.define-palette($bmat-blue);
$interactive-matcher-hyperaccent: mat.define-palette($bmat-yellow);

// The warn palette is optional (defaults to red).
$interactive-matcher-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$interactive-matcher-theme: mat.define-light-theme((
  color: (
    primary: $interactive-matcher-primary,
    accent: $interactive-matcher-accent,
    warn: $interactive-matcher-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($interactive-matcher-theme);

/* COMMON DEFAULTS */
html { height: 100%; }
body { 
  min-height: 100%;
  margin: 1rem; 
  font-family: Roboto, "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  background: #fafafa;

  @media (min-width: 1024px) {
    overflow: hidden;
  }
}

h1, h2 {
  font-family: 'Poppins', sans-serif !important;
}

/* MATERIAL DEFAULTS */
// Globalises app colours without importing material theming files
:root {
  --primary: #{map-get($interactive-matcher-primary, 500)};
  --primary-light: #{map-get($interactive-matcher-primary, 200)};
  --primary-lighter: #{map-get($interactive-matcher-primary, 100)};
  --primary-dark: #{map-get($interactive-matcher-primary, 700)};

  --accent: #{map-get($interactive-matcher-accent, 500)};
  --accent-light: #{map-get($interactive-matcher-accent, 200)};
  --accent-lighter: #{map-get($interactive-matcher-accent, 50)};
  --accent-dark: #{map-get($interactive-matcher-accent, 700)};
  
  --hyper-accent: #{map-get($interactive-matcher-hyperaccent, 500)};
  --hyper-accent-light: #{map-get($interactive-matcher-hyperaccent, 300)};
  --hyper-accent-lighter: #{map-get($interactive-matcher-hyperaccent, 100)};
  --hyper-accent-dark: #{map-get($interactive-matcher-hyperaccent, 700)};

  --error: #{map-get($interactive-matcher-warn, 500)};
  --error-light: #{map-get($interactive-matcher-warn, 200)};
  --error-dark: #{map-get($interactive-matcher-warn, 900)};
}

// Title-cases all field labels
.mat-form-field-label:first-letter {
  text-transform: capitalize;
}

// Increase emphasis on snackbar's action button
.mat-simple-snackbar-action .mat-button-wrapper {
  color: var(--hyper-accent-light);
}
